.code-area {
    -fx-background-color: #2e3134;
/*    -fx-background-image: url("../images/bg.png");*/
    -fx-highlight-fill: #253362;
}

.code-area .lineno {
    -fx-background-color: #373c42;
}

.lineno .text {
    -fx-fill: #AAA;
    -fx-highlight-fill: #253362;
}

.status-bar {
	-fx-padding: 4px;
	-fx-pref-height: 22px;
	-fx-background-color: #3f454b;
	-fx-background-insets: 0, 1;
}

/*.glyph-icon{
	-fx-fill: -fx-text-base-color;
}*/
